@import "../mixins.module.scss";

.heroSection {
  height: 100vh;
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;

  .heroPattern {
    position: absolute;
    z-index: 1;
    width: 100%;
    margin-top: -1rem;
    transform: rotateZ(180deg);
  }

  .dots {
    position: absolute;
    right: 2rem;
    width: 24rem;
    height: 80%;
    align-self: flex-end;
    background-image: url("/assets/puntos (1).png");
    background-repeat: repeat;
    background-size: contain;
    opacity: 0.5;
  }

  .col1 {
    width: 60%;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 50;

    section {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 4.4rem;

      h1 {
        font-size: 6.2rem;
        line-height: 4.5rem;
        font-weight: 900;
        color: var(--secondary-700);
        span {
          color: var(--secondary-300);
          opacity: 0.8;
          font-size: 4.2rem;
        }
      }

      .button {
        @include Button();
      }
    }
  }

  .col2 {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: space-between;

    .blueBlock {
      width: 50%;
      height: 100%;
      background-color: var(--primary-500);
    }
  }
}
