.project {
  display: flex;
  flex-direction: column;
  width: 32rem;
  border-radius: 1.6rem;
  border: 1px solid var(--slate-100);
  overflow: hidden;

  .img {
    width: 100%;

    height: 18rem;
    object-fit: cover;
  }

  .body {
    background-color: #fff !important;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    h3 {
      text-align: center;
      font-size: 2.4rem;
      line-height: 2rem;
      font-weight: 900;
    }
    .buttons {
      margin-top: 0.4rem;
      display: flex;
      gap: 1.2rem;

      a {
        flex: 1 1 50%;
        cursor: pointer;
        background-color: #fff;
        border: 2px solid var(--secondary-400);
        border-radius: 1rem;
        padding: 0.7rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        span {
          font-size: 1.7rem;
          font-weight: 600;
          color: var(--secondary-500);
        }
      }
    }
  }
}
