.project {
  display: flex;
  flex-direction: column;
  width: 34rem;
  border-radius: 1.6rem;
  border: 1px solid var(--base-200);
  overflow: hidden;
  height: 100%;
  flex: auto;
  align-self: stretch;

  .img {
    width: 100%;

    height: 18rem;
    object-fit: cover;
  }

  .body {
    background-color: var(--base-50) !important;
    padding: 2.4rem;
    padding-top: 2.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: 100%;

    h3 {
      text-align: center;
      font-size: 2.4rem;
      line-height: 2rem;
      font-weight: 900;
    }

    .bottom {
      justify-self: baseline;
    }

    .buttons {
      margin-top: 0.4rem;
      display: flex;
      // flex-wrap: wrap;
      gap: 1.2rem;

      a {
        flex: 1 1 50%;
        cursor: pointer;
        background-color: var(--base-50);
        border: 2px solid var(--secondary-500);
        border-radius: 1rem;
        padding: 0.7rem 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        span {
          font-size: 1.7rem;
          font-weight: 600;
          color: var(--secondary-600);
        }
      }
    }
  }
}
