.container {
  position: relative;

  .navBar {
    position: fixed;
    z-index: 100;
    padding: 1.4rem 2.8rem;
    background-color: #fff;
    border-radius: 1rem;
    left: 50%;
    top: 5rem;
    transform: translate(-50%, -50%);
    border: 1px solid var(--slate-100);

    ul {
      display: flex;
      gap: 3rem;
      font-weight: 600;

      li {
        cursor: pointer;
      }
    }
  }

  .heroSection {
    height: 100vh;
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    // background: url("/assets/dots.png");

    .heroPattern {
      position: absolute;
      z-index: 1;
      width: 100%;
      margin-top: -1rem;
      transform: rotateZ(180deg);
    }

    // background: url("/assets/hero-pattern.svg");
    // background-position-y: top;
    // background-size: contain;
    // gap: 4rem;

    .col1 {
      width: 60%;
      display: grid;
      place-items: center;
      position: relative;
      z-index: 50;

      section {
        margin-top: -2rem;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 4.4rem;

        h1 {
          font-size: 6.2rem;
          line-height: 4.5rem;
          font-weight: 900;
          color: var(--secondary-700);
          span {
            color: var(--secondary-300);
            opacity: 0.8;
            font-size: 4.2rem;
          }
        }

        .button {
          cursor: pointer;
          background-color: var(--secondary-600);
          border: 3px solid var(--secondary-700);
          border-radius: 0.8rem;
          padding: 1.2rem;
          color: var(--secondary-50);
          text-transform: uppercase;
          font-weight: 900;
        }
      }
    }

    .col2 {
      position: relative;
      width: 40%;
      display: flex;
      justify-content: space-between;

      .figures {
        position: absolute;
        z-index: 10;
        width: 46rem;
        top: 50%;
        transform: translate(0%, -50%);
        height: auto;

        .square {
          width: 16rem;
          aspect-ratio: 1;
          background-color: #fff;
          border-radius: 2.4rem;
          border: 2px solid var(--secondary-100);
        }

        .circle {
          width: 17rem;
          aspect-ratio: 1;
          background-color: #fff;
          border-radius: 50%;
          border: 2px solid var(--secondary-100);
        }
      }

      .dots {
        margin-left: auto;
        margin-right: 3rem;
        width: 38%;
        height: 94%;
        align-self: flex-end;
        background-image: url("/assets/puntos (1).png");
        background-repeat: repeat;
        background-size: contain;
      }

      .blueBlock {
        width: 50%;
        height: 100%;
        background-color: var(--primary-500);
      }
    }
  }

  .projects {
    height: 100vh;
  }
}
