@mixin Section {
  height: 100vh;

  h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 6rem;
  }
}

@mixin Button {
  cursor: pointer;
  background-color: var(--secondary-600);
  border: 3px solid var(--secondary-700);
  border-radius: 0.8rem;
  padding: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}
