@mixin Figure() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  z-index: 10;
  width: 38rem;
  top: 50%;
  transform: translate(0%, -50%);
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-top: 2rem;

  .square {
    width: 16rem;
    aspect-ratio: 1;
    background-color: var(--base-50);
    border-radius: 2.4rem;
    border: 5px solid var(--base-200);
    @include Figure();
  }

  .circle {
    align-self: flex-end;
    width: 17rem;
    aspect-ratio: 1;
    background-color: var(--base-50);
    border-radius: 50%;
    border: 5px solid var(--base-200);
    @include Figure();
  }

  .pentagon {
    position: relative;
    width: 19rem;
    aspect-ratio: 1;

    .animatorContainer {
      position: absolute;
      top: 50%;
      // left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
